.login {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    border: 5px solid $blue;
  }
  &__logo {
    width: 80%;
  }
}
