.header {
  &__container {
    background-color: $blue;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid $softYellow;
  }
  &__logo {
    width: 60vw;
    margin: 1rem;
  }
  &__menu {
    margin: 2rem;
    &:hover {
      cursor: pointer;
    }
  }
}
