.clock {
  &__container {
    display: table;
    margin: auto;
  }
  &__clock {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70vw;
  }
  &__number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-time {
      margin: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 8rem;
      margin-bottom: 0.5rem;
      background-color: $softYellow;
      border-radius: 10px;
      text-align: center;
      border: 1px solid $blue;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    }
  }
  &__buttons {
    &-container {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      width: 100vw;
      justify-content: center;
      align-items: center;
    }
    &-checkin {
      margin: 1rem;
      padding: 1.5rem 1.5rem;
      border-radius: 10px;
      background-color: $green;
      color: $blue;
      font-size: 1.8rem;
      border: 1px solid $blue;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
      &:hover {
        cursor: pointer;
      }
    }
    &-stop {
      margin: 1rem;
      padding: 1.5rem 1.5rem;
      border-radius: 10px;
      background-color: $blue;
      color: $yellow;
      font-size: 1.8rem;
      border: none;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
      &:hover {
        cursor: pointer;
      }
    }
    &-help {
      display: flex;
      align-items: center;
      margin-top: 3rem;
      margin-left: 1rem;
      padding: 1.5rem 2rem;
      border-radius: 10px;
      background-color: $red;
      color: $softYellow;
      font-size: 3rem;
      border: 1px solid $blue;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
      &:hover {
        cursor: pointer;
      }
      &-icon {
        width: 5rem;
        margin-right: 1rem;
      }
    }
  }
}
